<!doctype html>
<html>
    <head>
        <title>ShellMaps</title>
        <meta name="viewport" content="initial-scale=1,maximum-width=device-width">
        <link rel="icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/vendor/popper.js/popper.min.js"></script>
        <script src="/static/vendor/jquery/jquery.js"></script>
    </head>
    <body>
        <nav class="navbar transparent navbar-expand-lg navbar-light bg-light navbar-static-top">
            <a class="navbar-brand" href="/">ShellMaps.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/#about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/download">Download</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../contact.html">Contact</a>
            </li>
            </ul>
            </div>
        </nav>

    {% block content %}
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/popper.js/popper.min.js"></script>
    <script src="/static/vendor/jquery/jquery.js"></script> </div>
  </body>
</html>
