{% extends "base.html" %}

{% block content %}

<div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">

    <h3 class="mbr-section-title display-2">ShellMaps</h3>

    <div class="mbr-section-text">
        <p>Map your minority-owned business today</p>
    </div>

    <div class="mbr-section-btn"><a class="btn btn-black" href="https://mobirise.com">IPHONE</a> <a class="btn btn-black" href="https://mobirise.com">ANDROID</a> </div>

</div>
<div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 50%;">
    <div class="mbr-figure"><img src="static/images/app-showcase.png"></div>
</div>

{% endblock %}
