{% extends "base.html" %}

{% block content %}

    <!-- MAIN BACKGROUND -->
    <main>
        <div id="background"></div>
        <h1 class="header">A directory for minority-owned businesses.</h1>
        <a class="try" href="/map">Try It Out!</a>
    </main>

    <section id="about"><br>
        <h1 align="center"> About Us </h1>
        <p align="center">Research shows that business owners are still a fairly homogenous group. A majority of businesses are owned by white men and those owned by minorities or women are smaller, and acquire less venture capital investments than their counterparts (Fortune, USNews). Our aim is to make the business world a reflection of the rich diversity that America holds.</p>
    </section>

    <footer ><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="float:left;" class="fh5co-left"><small>&copy; 2016 <a href="">ShellMaps Team</a> for Shellhacks FIU 2017</small></p>

            </div>
        </div>
    </footer>

        <script>

        // Scroll Next
        var ScrollNext = function() {
            $('body').on('click', '.scroll-btn', function(e){
                e.preventDefault();

                $('html, body').animate({
                    scrollTop: $( $(this).closest('[data-next="yes"]').next()).offset().top
                }, 1000, 'easeInOutExpo');
                return false;
            });
        };

        </script>



{% endblock %}
