{% extends "base.html" %}

{% block content %}

    <!-- MAIN BACKGROUND -->
    <main>
        <div id="background"></div>
        <h1 class="header">A directory for minority-owned businesses.</h1>
        <a href="/map">Try It Out!</a>
    </main>

    <section id="about">
        <p>ShellMaps is a directory for minority-owned businesses.</p>
    </section>

    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="fh5co-left"><small>&copy; 2016 <a href="">ShellMaps Team</a> for Shellhacks FIU 2017</small></p>

            </div>
        </div>
    </footer>

        <script>

        // Scroll Next
        var ScrollNext = function() {
            $('body').on('click', '.scroll-btn', function(e){
                e.preventDefault();

                $('html, body').animate({
                    scrollTop: $( $(this).closest('[data-next="yes"]').next()).offset().top
                }, 1000, 'easeInOutExpo');
                return false;
            });
        };

        </script>



{% endblock %}
